{
    "event": {{ meta.event_name | json_encode() }},
    "origin": {{ log.address | json_encode() }},
    "block": {{ log.blockNumber | json_encode() }},
    "account": {{ event.account | json_encode() }},
    "nonce": {{ event.nonce | json_encode() }}
}
